[tool.black]
line-length = 150

[tool.ruff]
line-length = 150
extend-exclude = ["notebooks"]

[tool.ruff.lint]
select = ["E", "F", "I", "UP"]

[tool.mypy]
python_version = "3.11"
ignore_missing_imports = true
